page-subscription {
     ion-content{
        .scroll-content{
            padding: 0 !important;
            .grid{
                .row{
                    text-align: center;
                    flex-direction: column;
                    img{
                        margin: 5rem auto 1rem;
                        height: 14rem;
                    }
                    h1{
                        font-size: 4rem;
                    }
                    p{
                        margin: 3rem 0;
                        color:  #7f838a;
                        font-size: 1.3rem;  

                        span{
                            color:#000;
                        }
                    }
                }
            }

        }
    }
}
