<ion-header>

  <ion-navbar>
    <ion-title>Edit Menu</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <ion-grid>
    <ion-row>
      <ion-item class="menuDate">
        <p>
          <img src="assets/images/bullet.png" alt=""> {{editData.value.date}} {{editData.value.day}}
        </p>
      </ion-item>
    </ion-row>

    <ion-row class="selectMenu">
      <!--{{foodList | json}}-->
      <p>Breakfast Dish</p>
      <ion-item>
       <ion-select [(ngModel)]="menuData.lunch" >
          
          <ion-option  *ngFor="let food of foodList" [value]= "food.value.food">{{food.value.food}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    <ion-row class="selectMenu">
      <p>Lunch Dish</p>
      <ion-item>
        <ion-select [(ngModel)]="menuData.breakfast" >
          
          <ion-option  *ngFor="let food of foodList" [value]= "food.value.food">{{food.value.food}}</ion-option>
        </ion-select>
      </ion-item>
    </ion-row>

    
    <ion-row class="buttons" >
      <button ion-button (click)="saveUpdate()" round>
        Save
      </button>
    </ion-row>
  </ion-grid>
</ion-content>
