// http://ionicframework.com/docs/v2/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

/* Global style */
@font-face {
  font-family: "Montserratbold";
  src: url('../assets/fonts/Montserrat/Montserrat-Bold.otf') format("opentype");
}

@font-face {
  font-family: "Montserratsemibold";
  src: url('../assets/fonts/Montserrat/MontserratAlternates-SemiBold.otf') format("opentype");
}

@font-face {
  font-family: "MontserratRegular";
  src: url('../assets/fonts/Montserrat/Montserrat-Regular.otf') format("opentype");
}

@font-face {
  font-family: "MontserratLight";
  src: url('../assets/fonts/MontserratMontserrat-Light.otf') format("opentype");  
}

@font-face {
  font-family: "MontserratextraLight";
  src: url('../assets/fonts/MontserratAlternates-ExtraLight.otf') format("opentype");  
}

h1,h2,h3,h4,h5,h6,p {
  font-family: "MontserratRegular" !important;
  padding: 0px;
  margin: 0px;
}

body {
  font-family: "MontserratRegular" !important;
}

.MontserratRegular {
  font-family: "MontserratRegular" !important;
}

//Navbar Global Style
.header {
  .toolbar {
    .toolbar-background {
      border-width: inherit !important;
      background-color: #ff6f18;
    }
    .toolbar-title {
      color: #fff;
      font-family: MontserratRegular;
    }

    button{
      img{
        width: 2.5rem;
      }
    }
  }
  
}
.button-inner{
      font-family: MontserratRegular;
}

//Global Form & Buttons Style
.buttons {
  justify-content: center;
  align-items: center;
  button {
    padding-left: 6rem;
    padding-right: 6rem;
    height: 5rem;
    background-color: #4bcf18;
    box-shadow: 0px 2px 0px 0px rgba(0, 0, 0, 0.4);
  }
  .activated {
    background-color: #49c31a;
  }
}

/*Menu Style*/

.back-button {
  .back-button-text,
  .back-button-icon {
    color: #fff;
  }
}

.bar-buttons {
  button {
    color: #fff;
  }
}

.menuBar {
  padding: 20px 5px;
  .col {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    img {
      border-radius: 50px;
      height: 70px;
      width: 70px;
    }
  }
}

.menuButton {
  .item {
    height: 4rem;
    .button {
      color: #a1a0a0;
      font-size: 14px;
    }
  }
}

.item-md.item-input.input-has-focus .item-inner {
  border: none;
  box-shadow: none;
}



//alert style
.addfoodClass{
      align-items: center !important;
      padding: 0 !important;
      ion-backdrop{
        opacity: 0.8 !important;
      }
      .alert-wrapper{
        border-radius: 5px;
        min-width: 30rem;
        .alert-head{
          text-align: left;
          .alert-title{
              color: #231f20;
              font-size: 1.2rem;
          }
        }
        .alert-message{
          display: none;
        }

        .alert-button-group{
            flex-direction: row;
            .deletebtn{
                background:   #e0e0e0; ;
                color: #484646;
            }
            .savebtn{
                background:#4bcf18;
                color: #fff;
            }
            .closeBtn{
                position: absolute;
                top: 0;
                right: -11rem;
                background: url(../assets/images/closealert1.png);
                background-size: 2rem;
                background-repeat: no-repeat;
                background-position: left center;
            }
        }
    }
        
  }